@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
    margin : 0;
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
   
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-image: url('assets/bg.png');

}
ul li a{
    text-decoration: none;
    color:black;
    transition: all 0.3s ease;
    position: relative;
;
}
ul li a::before {
   content: '';
   width: 0;
   height: 0.4rem;
   background-color: darkorange;
   position: absolute;
   left: 0rem;
   bottom: -0.6rem;
   transition: 0.5s;
}
ul li:hover a::before {
    width: 100%;
}
.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 7rem;
    padding: 0rem 3rem;
    background-color: bisque;
}
.logo {
    width: 40%;
    font-size: 4rem;
    font-weight: 600;
    color: darkorange;
}
.menu-bar {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-around;
}
.menu-bar li{
    font-size: 2rem;
}

.navbar-menu{
    display: none;
}
.N{
    background-color: beige;
}





/* media for tab */


@media(max-width: 1024px) {
    .navbar{
        display: none;
    }
    .navbar-menu{
        display: flex;
    }
    
    .hamburger {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        position: fixed;
        right: 3rem;
        top: 2rem;
    }
    .hamburger i {
        font-size: 3.5rem;
        padding: 4px;
    }
    .navbar-menu .logo {
        margin-top: 2rem;
        padding-left: 3rem;
    }
    .navbar-menu .menu-bar {
        display: flex;
        flex-direction: column;
        background-color: darkorange;
        position: fixed;
        right: 0;
        top: 7rem;
        padding: 1rem;
        gap: 1rem;
        border-radius: 5px;
        margin-right: -65rem;
        transition: all 0.3s ease;
    }
    .navbar-menu .menu-bar .show {
        margin-right: 0px ;
    }
    .navbar-menu .menu-bar li {
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        font-weight: 600;
    }


}


@media(max-width:767px) {
    .N{
        position: fixed;
        top: 0;
        width: 100%;
    }
    .logo{
        text-wrap: nowrap;
        margin-top: 2px;
        font-size: 3rem;
        padding-left: 1rem;
    }
}




       /* section 1 */

.sec1 {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 20rem;
    padding-bottom: 18rem;
    gap:6rem;

}   
.sec-1-1 {
    margin-left: 5rem;
}    

.sec-1-1 img {
    width:40rem;
    height: 40rem;
    border-radius: 50%;
}
.sec-1-2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.sec1-2-1 {
    font-weight: 900;
    font-size: 1.5rem;
}
h1 {
    font-size: 5rem;
    color: darkorange;
}
.sec1-2-3 {
    font-weight: 800;
    font-size: 2.2rem;
}
p {
    font-size: 1.8rem;
    width: 90%;
}
.buttons{
    display: flex;
    gap: 2rem;
}
.buttons > :nth-child(1) {
    padding: 1rem 2rem;
    background-color: transparent;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: 0.2rem solid black;
    transition: all 0.3s ease;
    cursor: pointer;
}
.buttons > :nth-child(1):hover {
    background-color: black;
    color: white;
    transform: translatey(-0.3rem);
    
}
.buttons > :nth-child(2) {
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: 0.2rem solid black;
    transition: all 0.3s ease;
    cursor: pointer;
}
.buttons > :nth-child(2):hover {
    background-color: darkorange;
    border-color: darkorange;
    transform: translatey(-0.3rem);
}
.social {
    display: flex;
    gap: 2rem;
}
.social img {
    width: 3rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
.social img:hover{
    transform: scale(0.9);
}


/* media for tab */

@media(max-width: 1024px) {
    .sec1{
        flex-direction: column;
    }
    p{
        text-align: center;
    }
    .sec-1-1{
        margin-left: 0;
    }
    .sec-1-2{
        align-items: center;
    }
}


/* media for phone */

@media(max-width: 767px) {
    .sec1{
        flex-direction: column;
    }
    p{
        text-align: center;
    }
    .sec-1-1{
        margin-top: 5rem;
    }
    .sec-1-1 img{
        width: 30rem;
        height: 30rem;
        margin-left: 0;
    }
    .sec-1-2{
        align-items: center;
        padding-bottom: 5rem;
    }
}






        /* SECTION 2 */

.sec2 {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0rem;
}
@media(max-width:52.1875rem) {
    .sec2 {
        flex-direction: row;
    }
    .sec-2-1 {
        flex-direction: column;
    }
    .sec-2-2 {
        flex-direction: column;
    }
}
.sec-2-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-2-1 > :nth-child(1) {
    font-weight: 600;
    font-size: 1.5rem;
}
.sec-2-2 {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    padding-bottom: 0rem;
    gap: 6rem;
}
.sec-2-2-1 {
    margin-left: 10rem;
}
.sec-2-2-1 img {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
}
.sec-2-2-2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sec-2-2-2-1 {
    display: flex;
    gap: 5rem;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2rem solid black;
    width: 30rem;
    border-radius: 2rem;
    padding: 2rem;
    gap: 0.5rem;
}

.box img {
    width: 3.5rem;
}
.box >:nth-child(2) {
    font-size: 2rem;
    font-weight: 600;

}
.box >:nth-child(3),.box >:nth-child(4) {
    font-size: 1.7rem;
}
.p1{
    width: 80%;

}


/*media for tab*/


@media(max-width: 1024px) {
    .sec2{
        height: 100%;
        flex-direction: column;
    }
    .sec-2-2 {
    flex-direction: column;
    }

    .sec-2-2-1 {
    margin-left: 0;
}   
    .sec-2-2-2 {
     align-items: center;
    }
}


/* media for phone */

@media(max-width: 767px) {
    .sec2{
        height: 100%;
        flex-direction: column;
    }
    .sec-2-2 {
    flex-direction: column;
    }
   .sec-2-2-1 img {
    width: 25rem;
    height: 25rem;
}
    .sec-2-2-1 {
    margin-left: 0;
}   
    .sec-2-2-2 {
     align-items: center;
    }

    .sec-2-2-2-1 {
    flex-direction: column;
    }
}




/* section 3*/


.sec-3 {
    padding-top: 2rem;
    padding: 10rem 0px;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 6rem;
}

.sec-3-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-3-1 > :nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
}
.sec-3-2 {
   display: flex;
   gap:5rem;
}

.box3 {
    width: 35rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
    padding: 2rem;
    gap: 1.5rem;
}

.box3 img {
    width: 30rem;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 
.box3-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.box3-2 > :nth-child(1) {
    font-size: 2rem;
    font-weight: 600;
}



/*media for tab*/



@media(max-width:1024px) {
    .sec-3-2{
        flex-direction: column;
    }
    .box3 {
    width: 50rem;
    gap: 2rem;
}

.box3 img {
    width: 45rem;
} 
.box3-2 > :nth-child(1) {
    font-size: 3rem;
}
}


/*media for phone*/


@media(max-width:767px) {
    .sec-3{
        flex-direction: column;
    }
    .sec-3-2 {
      flex-direction: column;
      gap: 2rem;
    }  
    .box3 {
      width: 25rem;
    }  
    .box3 img {
      width: 20rem;
    } 
    .box3-2 > :nth-child(1) {
      font-size: 1.5rem; 
    }  

}









   /*  SECTION 4*/


.sec4{
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 6rem;
    padding: 10rem 0px;
}   

 
.sec4-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec4-1 > :nth-child(1) {
    font-size: 1.7rem;
    font-weight: 600;
}

.sec4-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.box4 {
    width: 35rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
    padding: 2rem;
    gap: 5rem;
}

.box4 img {
    width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
    border-radius: 14px;
}




 /* media for tab */

@media(max-width: 1024px) {
    .sec4{
        flex-direction: column;
    }
    .sec4-2{
        flex-direction:column;
        gap: 4rem;
    }
    .box4 img {
        width: 40rem;
    }
    .box4 {
    width: 50rem;
    padding: 3rem;
    }

}

/* media for phone */


@media(max-width:767px) {
    .sec4{
        flex-direction: column;
    }
    .sec4-1{
    flex-direction: column;
    }
    .sec4-2{
        flex-direction:column;
        gap: 2rem;
    }
    .box4 img {
        width: 20rem;
    }
    .box4 {
    width: 25rem;
    padding: 1rem;
    }
    
    h1 {
    font-size: 4rem;
    }
}





   /* footer  */



.footer{
    background-color: #111;
    color: white;
    height: 30;
    Padding: 3rem;
}

.footer-container {
    max-width: 120rem;
    width: 92%;
    margin:auto;
}

.foot-info {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0rem;
}
@media(max-width:52.1875rem) {
    .foot-info{
        flex-direction:column;
    }
}
.author{
    max-width: 50rem;
}

.author-1{
    font-size: 1.5rem;
    line-height: 1.7;
    letter-spacing: 0.1rem;
}
.author-2{
    font-size: 1.5rem;
    line-height: 1.7;
    margin-top: 2rem;
}


.social-footer {
    margin-bottom: 5rem;
    order: 1;

}
@media(max-width: 767px) {
     .social-footer{
        order: -1;
     }
}

.social-heading {
    font-size: 2rem;
    letter-spacing: 1px;
}
.social-imgs {
    width: 2.5rem;
    margin-right: 1rem;
    background-color: white;
    border-radius: 50%;
}
.copyright {
    text-align: center;
    font-size: 1.2rem;
    border-top: 1px solid #444;
    padding: 4rem 0;
} 
